@charset "UTF-8";

@font-face {
    font-family: "Montserrat";
    src: 
        url(fontes/Montserrat-Regular.otf),
        url(fontes/Montserrat-Bold.otf),
        url(fontes/Montserrat-Medium.otf),
    ;
}

@font-face {
    font-family: "Gobold";
    src: 
        url(fontes/Gobold\ Lowplus.ttf)
    ;
}

*{
    margin: 0px;
    padding: 0px;
    border: none;
}

:root{
    --cor-01-01: #AC22DC;
    --cor-01-02: #773B8C;
    --cor-01-03: #432774;
    --cor-01-04: #6937be;
    --cor-02-01: #629737;
}

html{
    background-color: black;
    font-family: "Montserrat", sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 600px;
    margin: auto;
}

.div-branca{
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    font-size: 0.8em;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.botao-01{
    background-color: var(--cor-02-01);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 0.9em;
}

.texto-cor-01-01{
    color: var(--cor-01-01);
}
.texto-cor-01-03{
    color: var(--cor-01-03);
}


/*
### SECTION 01 #####################################################################################################################################
*/

#section-01{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-image: url(imagens/design/banner-principal.png);
    background-size: cover;
    height: calc(100vh - 40px); /* os 40px sao da barra de navegacao*/
}

#section-01__header{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

#section-01__header > p{
    font-size: 0.9em;
    font-weight: normal;
}

#section-01__video-container, #section-01__container-botao-cta{
    align-self: stretch;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#section-01__video-container > iframe{
    width: 80%;
    max-width: 400px;
    height: auto;
}

#section-01__subheader{
    font-size: 0.8em;
    width: 80vw;
    max-width: 450px;
    padding: 10px;
    text-align: center;
}


/*
### SECTION 02 #####################################################################################################################################
*/

#section-02{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
}

.section-02__borda{
    width: 100%;
    background-image: url(imagens/design/antrAtivo\ 2.png);
    background-size: cover;
    height: 30px;
}

#section-02__parte-01{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 150px; /* para caber a imagem do boneco */
}

.section-02__container-infos{
    text-align: center;
    max-width: 80%;
}
.section-02__container-infos > .div-branca{
    padding: 15px;
    padding-bottom: 20px;
}
.section-02-container-infos__footer{
    margin: auto;
    margin-top: -10px;
    height: 20px;
    background-image: url(imagens/design/antrAtivo\ 9.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.section-02__container-infos:nth-child(2){
    align-self: flex-end;
    text-align: right;
    margin-right: 10px;
    max-width: 70%;
}

#section-02__parte-01 > img{
    position: absolute;
    bottom: 0%;
    filter: drop-shadow(0px 0px 1px white);
    z-index: -1;
}
#section-02__parte-01 > img:nth-child(odd){
    width: 50%;
    max-width: 225px;
    left: 0%;
}
#section-02__parte-01 > img:nth-child(even){
    width: 40%;
    max-width: 200px;
    left: 20%;
}

#section-02__parte-02{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#section-02__div-titulo-professores{
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: center;
    color: white;
}
#section-02__div-titulo-professores > img{
    max-width: 32px;
}

#section-02__div-instrucao{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 5px;
    font-size: 0.7em;
    color: white;
    opacity: 50%;
}
#section-02__div-instrucao > img{
    filter: brightness(500%);
    max-width: 1.0em;
}

#section-02__container-professores{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 10px;
}

.section-02__card-professor{
    flex-basis: 150px;
    height: 150px;
    display: flex;
    align-items: end;
    border-radius: 8px;
    background-size: contain;
    background-position: center;
    overflow: hidden;

    transition: transform 0.15s, filter 0.15s;
}

.section-02__card-professor:hover{
    cursor: pointer;
    transform: scale(1.1);
    filter: brightness(140%);
}

.section-02__card-professor img{ /* icone de doacao para quilombola */
    position: absolute;
    top: -14px;
    left: -22px;
    width: 32px;
}

.section-02__card-professor > p{
    position: relative;
    padding: 5px 10px;
    background-color: rgba(0,0,0,0.9);
    font-size: 0.8em;
}

.section-02__card-professor:nth-child(3n+1){justify-content: flex-start; color: var(--cor-01-01);}
.section-02__card-professor:nth-child(3n+2){justify-content: center; text-align: center; color: var(--cor-02-01);}
.section-02__card-professor:nth-child(3n+3){justify-content: flex-end; color: var(--cor-01-04);}

#container-card-informacoes-professores{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    backdrop-filter: blur(3px);

    display: none;
}
#container-card-informacoes-professores.ativo{
    display: flex;
}

#card-informacoes-professores{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.9);
}
#container-card-informacoes-professores.ativo #card-informacoes-professores{
    animation-name: fade-in-card-informacoes-professores;
    animation-duration: 0.15s;
}
@keyframes fade-in-card-informacoes-professores{
    0%{
        transform: translateY(-40px);
        opacity: 0%;
    }
    100%{
        transform: translateX(0px);
        opacity: 100%;
    }
}

#card-informacoes-professores__curriculo{
    max-height: 70vh;
    overflow-y: auto;
}

#section-02__div-quilombo{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    padding: 0px 40px;
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 0.7em;
}
#section-02__div-quilombo > img{width: 28px;}
#section-02__div-quilombo span{font-weight: bold;}

#section-02__parte-02 > .section-02__container-infos{
    margin-top: 30px;
}

#card-informacoes-professores > h3{
    font-size: 1.0em;
    opacity: 60%;
    letter-spacing: 0.1em;
    text-decoration: underline;
}